[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
atcoder-tools = "*"
autopep8 = "*"
flake8 = "*"
invoke = "*"
ipython = "*"
yapf = "*"

[packages]
numpy = "*"

[requires]
python_version = "3.7"
